/* layer公用类 开始 */

.layer-box-wraper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-box-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
}

.layer-box-header {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.layer-box-block-buttons {
    margin-top: 3px;
    overflow: hidden;
    zoom: 1;
}

.layer-button {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
}

/* layer公用类 结束 */

/* header 开始 */

.layer-box-container.default {
    box-shadow: #2F6FAC 0px 0px 5px;
    border: 2px solid #2F6FAC;
}

.layer-box-container.black {
    box-shadow: rgb(42, 42, 42) 0px 0px 5px;
    border: 2px solid #2a2a2a;
}

.layer-box-header {
    position: relative;
    color: #FFF;
    padding: 0 20px;
    height: 30px;
    cursor: move;
}

.layer-box-container.default .layer-box-header {
    background-color: #2F6FAC;
}

.layer-box-container.black .layer-box-header {
    background-color: #2a2a2a;
}

.layer-box-header .layer-box-block-buttons {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline;
}

.layer-header-title {
    float: left;
    cursor: default;
}

.layer-cancel {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent url(../img/layer-cancel.png) no-repeat center;
    float: right;
    position: relative;
    right: -20px;
    cursor: default;
}

.layer-cancel:hover {
    background-color: #D23C0A;
}

.layer-cancel:active {
    background-color: #A02814;
}

/* header 结束 */

/* content 开始 */

.layer-box-content-wraper {
    position: relative;
    background-color: #fff;
    padding: 20px;
}

.layer-box-container {
    position: absolute;
    top: 0;
    left: 0;
}

.layer-box-content {
    height: 100%;
}

.layer-box-table {
    height: 100%;
}

.layer-box-table td {
    vertical-align: middle;
    font-size: 0;
}

.layer-box-table td:first-child {
    text-align: center;
}

.layer-box-content strong {
    font-size: 12px;
    color: red;
}

.layer-box-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.layer-box-text {
    font-size: 14px;
}

.layer-box-html {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
    background: no-repeat 0px 1px;
    line-height: 20px;
}

iframe.layer-box-content {
    border: none;
    width: 100%;
    height: 100%;
    float: left;
}

/* loading->content 开始 */

.layer-loading-box .layer-box-html {
    background-position: 0px 3px;
}

/* loading->content 结束 */

/* content 结束 */


/* footer 开始 */

.layer-box-footer,
.layer-box-footer .layer-button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.layer-box-footer {
    line-height: 34px;
    font-size: 14px;
    position: relative;
    background-color: #FFF;
    border-top: 1px solid #DCDCDC;
    text-align: right;
}

.layer-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 2px;
    margin: 2px 5px;
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}
.layer-btn-primary {
    background: #428bca;
    color: #fff;
}
.layer-btn-primary:hover {
    background: #246faf;
}
.layer-btn-success {
    background: #5cb85c;
    color: #fff;
}
.layer-btn-success:hover {
    background: #368c36;
}
.layer-btn-info {
    background:#5bc0de;
    color:#fff;
}
.layer-btn-info:hover{
    background:#349ebc;
}
.layer-btn-warning {
    background: #f0ad4e;
    color: #fff;
}
.layer-btn-warning:hover {
    background: #f99403;
}
.layer-btn-danger {
    background: #d9534f;
    color: #fff;
}
.layer-btn-danger:hover {
    background: #f40a05;
}
.layer-btn-gray {
    background: #e9e9e9;
    color: #333;
}
.layer-btn-gray:hover {
    background: #d4d4d4;
}

.layer-box-footer .layer-button {
    color: #505050;
    width: 90px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}

.layer-box-footer .layer-button:hover {
    color: #FFF;
    background-color: #2F6FAC;
}

/* confirm->footer 开始 */
.layer-confirm-box .layer-button {
    border-left: 1px solid #DCDCDC;
}

.layer-confirm-box .layer-button.first-child {
    border-left: none;
}

/* confirm->footer 结束 */

/* footer 结束 */