@charset "utf-8";
/**
 * 本文件是在bootstrap的基础上扩展和重写的一些样式
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font: 14px/1.5 "Helvetica Neue",Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft Yahei,sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #0088cc;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    position: relative;
    top: 2px;
    top: 1px \9;
}

/*去除IE输入框后面的x和眼睛*/
::-ms-clear,
::-ms-reveal {
    display: none;
}

.hide-scrollbar {
    overflow: hidden;
}

/*table start*/
.table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    border-top: 0;
    border-bottom: 1px solid #ddd;
}
.table > thead > tr > th {
    text-align: left;
    vertical-align: middle;
}
.table-border > thead > tr > th,
.table-border > tbody > tr > td {
    border: 1px solid #ddd;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
.table > thead > tr > th.active,
.table > tbody > tr > td.active,
.table > thead > tr.active > th,
.table > tbody > tr.active > td {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active {
    background-color: #e8e8e8;
}
/*table end*/

/*滚动条 start*/
.scrollbar::-webkit-scrollbar { /* 滚动条的滑轨背景颜色 */
    width: 10px;
    height: 10px;
}
.scrollbar::-webkit-scrollbar-track-piece {     /* 滚动条的滑轨 */
    background-color: #e9e9e9;
    -webkit-border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-thumb:vertical {  /* 垂直滑块 */
    height: 9px;
    background-color: #aaa;
    -webkit-border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-thumb:horizontal {    /* 水平滑块 */
    width: 9px;
    background-color: #aaa;
    -webkit-border-radius: 6px;
}

/*IE*/
.scrollbar {
    /*scrollbar-base-color: #fff;       滚动条的基本颜色*/
    /*scrollbar-arrow-color: #e9e9e9;     三角箭头的颜色*/
    /*scrollbar-face-color: #b46868;      立体滚动条的颜色*/
    /*scrollbar-3dlight-color: #666;      立体滚动条亮边的颜色*/
    /*scrollbar-highlight-color: #666;    滚动条空白部分的颜色*/
    /*scrollbar-shadow-color: #999;       立体滚动条阴影的颜色*/
    /*scrollbar-darkshadow-color: #666;   立体滚动条强阴影的颜色*/
    /*scrollbar-track-color: #e9e9e9;        立体滚动条背景颜色*/
}

/*滚动条 end*/

/*icon start*/
.icon-link {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
}
.icon {
    display: inline-block;
    *display: inline;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    vertical-align: middle;
}
.icon-xls {background: url(../img/tn-icon-file.png) -40px 0 no-repeat;}
.icon-xlsx {background:url(../img/tn-icon-file.png) -200px 0 no-repeat;}
.icon-doc {background:url(../img/tn-icon-file.png) -80px 0 no-repeat;}
.icon-docx {background:url(../img/tn-icon-file.png) -179px 0 no-repeat;}
.icon-ppt {background:url(../img/tn-icon-file.png) -60px 0 no-repeat;}
.icon-pptx {background:url(../img/tn-icon-file.png) -220px 0 no-repeat;}
.icon-pdf {background:url(../img/tn-icon-file.png) -100px 0 no-repeat;}
.icon-txt {background:url(../img/tn-icon-file.png) -160px 0 no-repeat;}
.icon-xml {background:url(../img/tn-icon-file.png) -20px -40px no-repeat;}
.icon-csv {background:url(../img/tn-icon-file.png) -20px 0 no-repeat;}
.icon-zip {background:url(../img/tn-icon-file.png) -140px 0 no-repeat;}
.icon-rar {background:url(../img/tn-icon-file.png) -120px 0 no-repeat;}
.icon-png {background:url(../img/tn-icon-file.png) -40px -20px no-repeat;}
.icon-jpg {background:url(../img/tn-icon-file.png) 0px -20px no-repeat;}
.icon-gif {background:url(../img/tn-icon-file.png) -20px -20px no-repeat;}
.icon-js {background:url(../img/tn-icon-file.png) -60px -40px no-repeat;}
.icon-css {background:url(../img/tn-icon-file.png) -40px -40px no-repeat;}
.icon-more {background:url(../img/tn-icon-file.png) -77px -38px no-repeat;}
/*icon end*/

/*导航栏自定义样式 start*/
.navbar {
    font-size: 14px;
    border-top: 0;
    border-radius: 0;
}
.navbar-brand {
    line-height: 50px;
    padding: 0;    
    margin-left: 0 !important;
    margin-right: 15px;
}
.navbar-text {
    height: 50px;
    line-height: 50px;
    margin: 0 15px;
}
.navbar-right {
    margin-right: 0;
}
.navbar-padding-top {
    padding-top: 51px;
}
.navbar-blue {
    background-color: #148CCA;
    color: #fff;
    font-family: "hiragino sans gb","microsoft yahei";
}
.navbar-blue a {
    color: #fff;
}
.navbar-blue .nav .open > a, 
.navbar-blue .nav .open > a:hover,
.navbar-blue .nav > li > a:hover,
.navbar-blue .nav > li > a:focus,
.navbar-blue .nav > li.active > a {
    background-color: #006699;
    color: #fff;
}
.navbar-blue .dropdown-menu {
    left: -1px;
}
.navbar-blue .icon-bar {
    background-color: #fff;
}
.navbar-blue .navbar-link:hover {
    background-color: #006699;
    color: #fff;
    text-decoration: none;
}
.navbar-inverse {
    background-color: #4a4a4a;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
	color: #9d9d9d;
}
.navbar-gray {
    border-bottom: 1px solid #d4d4d4;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    color: #777;
}
.navbar-gray .navbar-brand {
    text-shadow: 0 1px 0 #fff;
}
.navbar-gray .nav > li > a {
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
.navbar-gray .nav > .active > a, 
.navbar-gray .nav > .active > a:hover, 
.navbar-gray .nav > .active > a:focus {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
.navbar-gray .navbar-toggle .icon-bar {
    background-color: #777;
}
.navbar-gray .navbar-link {
    color: #777;
}
/*导航栏自定义样式 end*/

/*panel样式重写 start*/
.panel-heading {
    position: relative;
}
.panel-heading h5 {
    line-height: 16px;
}
.panel-option {
    position: absolute;
    right: 15px;
    top: 3px;
    text-align: right;
}
.panel-dark {
    border: 1px solid #535a6c;
}
.panel-dark > .panel-heading {
    background-color: #535a6c;
    color: #fff;
}
.panel-info {
    border-color: #17c3e5;
}
.panel-info > .panel-heading {
    color: #fff;
    background-color: #17c3e5;
    border-color: #17c3e5;
    background-image: none;
}
.panel[data-expand] > .panel-heading:before {
    display: block;
    font-family: "foundation-icons";
    font-size: 13px;
    line-height: 1;
    float: left;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.panel[data-expand="N"] > .panel-heading:before {
    content: "︽";
}
.panel[data-expand="Y"] > .panel-heading:before {
    content: "︾";
}
.panel[data-expand="N"] > .panel-body {
    display: none;
}
.panel[data-expand="N"] > .panel-heading .panel-option {
    display: none;
}
/*panel样式重写 end*/

/*按钮重写 start*/
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.disabled, 
.btn-primary.disabled.active, 
.btn-primary.disabled.focus, 
.btn-primary.disabled:active, 
.btn-primary.disabled:focus, 
.btn-primary.disabled:hover, 
.btn-primary[disabled],
.btn-primary[disabled].active, 
.btn-primary[disabled].focus, 
.btn-primary[disabled]:active, 
.btn-primary[disabled]:focus, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary, 
fieldset[disabled] .btn-primary.active, 
fieldset[disabled] .btn-primary.focus, 
fieldset[disabled] .btn-primary:active, 
fieldset[disabled] .btn-primary:focus, 
fieldset[disabled] .btn-primary:hover {
    color: #fff;
    background-color: #04c;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/*按钮样式重写 end*/

/*表单行item start*/
.item {
    position: relative;
    display: table;
    width: 100%;
}
.item-row + .item-row {
    margin-top: 10px;
}
.item-name {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 0;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.item-name.required {
    position: relative;
}
.item-name.required:before {
    content: "*";
    color: red;
    position: relative;
    right: 2px;
}
.item-control {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.item-static {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
/*表单行item end*/