@charset "utf-8";

.page-footer {
    padding: 15px 0;
    border-top: 1px solid #ddd;
}
.page-footer p {
    text-align: center;
    margin-bottom: 0;
}
.page-sidebar {
    padding-top: 20px;
}
.page-sidebar.fixed {
    position: fixed;
    top: 50px;
}
.page-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}
.page-sidebar .nav > li > a:hover,
.page-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c;
}
.page-sidebar .nav > li.active > a,
.page-sidebar .nav > li.active > a:hover,
.page-sidebar .nav > li.active > a:focus {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}
.doc-section {
	margin-bottom: 50px;
}
.doc-example {
    padding: 45px 15px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.doc-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    content: "示例：";
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.doc-example + .highlight,
.doc-api + .highlight {
    margin-top: -4px;
    margin-right: 0;
    margin-left: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.highlight {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #ddd;
}
.mce-panel {
	overflow: hidden;
}
.title-normal {
	font-size: 24px;
	margin: 20px 0 10px;
}
.title-sm {
	font-size: 18px;
	margin-bottom: 10px;
}
.doc-example > .btn {
	margin-bottom: 5px;
	margin-top: 5px;
}
.doc-api {
	margin-top: 10px;
	background-color: #eee;
	padding: 45px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
	position: relative;
}
.doc-api:after {
    position: absolute;
    top: 15px;
    left: 15px;
    content: "说明：";
    font-size: 12px;
    font-weight: 700;
    color: #666;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.imglist {
	overflow: hidden;
}
.imglist li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.imglist img {
	width: 100px;
	height: 100px;
}
pre code {
	position: relative;
	padding: 15px 15px 0;
}
pre code:after {
    position: absolute;
    top: 15px;
    left: 15px;
    content: "";
    font-size: 12px;
    font-weight: 700;
    color: #888;
    text-transform: capitalize;
    letter-spacing: 1px;
}
pre code.language-xml:after {
	content: "//html";
}
pre code.language-javascript:after {
	content: "//javascript";
}
.back-to-top {
	display: block;
	padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999;
}
.back-to-top:hover {
	color: #563d7c;
    text-decoration: none;
}