@charset "utf-8";
.hide-scrollbar {
    overflow: hidden;
}

/* layer公用类 开始 */
.layer-box-wraper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-box-wraper * {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.layer-box-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    zoom: 1;
}

.layer-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.layer-box-container {
    position: absolute;
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
/* layer公用类 结束 */

/* header 开始 */
.layer-box-header {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-family: "微软雅黑";
}

.layer-box-container.default .layer-box-header {
    color: #000;
    background-color: #fff;
}

.layer-box-container.blue .layer-box-header {
    color: #fff;
    background-color: #337ab7;
}

.layer-box-container.black .layer-box-header {
    color: #fff;
    background-color: #2a2a2a;
}

.layer-title {
    display: table-cell;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: move;
}

.layer-cancel {
    display: table-cell;
    width: 30px;
    padding-right: 10px;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.layer-box-container.default .layer-cancel {
    color: #000;
    opacity: 0.2;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
}

.layer-box-container.default .layer-cancel:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.layer-box-container.blue .layer-cancel,
.layer-box-container.black .layer-cancel {
    color: #fff;
}

.layer-box-container.blue .layer-cancel:hover,
.layer-box-container.black .layer-cancel:hover {
    color: #f00;
}
/* header 结束 */

/* content 开始 */
.layer-box-content {
    overflow: auto;
}

.layer-iframe-container {
    overflow: visible;
}

.layer-box-iframe {
    width: 100%;
    height: 100%;
}

.layer-table {
    display: table;
    width: 100%;
    height: 100%;
}

.layer-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.layer-table-cell:first-child {
    text-align: center;
    font-size: 0;
}

.layer-box-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.layer-waiting {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.layer-type-tips .layer-box-content,
.layer-type-msg .layer-box-content {
    min-width: 200px;
    height: 70px;
}

.layer-type-tips .layer-box-icon {
    margin-right: 15px;
}

/* footer 开始 */
.layer-box-footer {
    padding: 5px 15px;
    border-top: 1px solid #eee;
    text-align: right;
}

.layer-btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;

    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;

    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.layer-btn + .layer-btn {
    margin-left: 20px;
}

.layer-btn:hover,
.layer-btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    outline: 0;
    -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.layer-btn.active,
.layer-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.layer-btn:focus, 
.layer-btn:active:focus, 
.layer-btn.active:focus, 
.layer-btn.focus, 
.layer-btn:active.focus, 
.layer-btn.active.focus {
    outline: 0;
}

.layer-btn.disabled,
.layer-btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.layer-btn-default {
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-default:hover,
.layer-btn-default:focus,
.layer-btn-default:active,
.layer-btn-default.active,
.layer-btn-default.disabled,
.layer-btn-default.disabled.active,
.layer-btn-default.disabled.focus, 
.layer-btn-default.disabled:active, 
.layer-btn-default.disabled:focus, 
.layer-btn-default.disabled:hover,
.layer-btn-default[disabled],
.layer-btn-default[disabled].active, 
.layer-btn-default[disabled].focus, 
.layer-btn-default[disabled]:active, 
.layer-btn-default[disabled]:focus, 
.layer-btn-default[disabled]:hover {
    color: #333333;
    background-color: #e6e6e6;
}

.layer-btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-primary:hover,
.layer-btn-primary:focus,
.layer-btn-primary:active,
.layer-btn-primary.active,
.layer-btn-primary.disabled,
.layer-btn-primary.disabled.active,
.layer-btn-primary.disabled.focus, 
.layer-btn-primary.disabled:active, 
.layer-btn-primary.disabled:focus, 
.layer-btn-primary.disabled:hover,
.layer-btn-primary[disabled],
.layer-btn-primary[disabled].active, 
.layer-btn-primary[disabled].focus, 
.layer-btn-primary[disabled]:active, 
.layer-btn-primary[disabled]:focus, 
.layer-btn-primary[disabled]:hover {
    color: #fff;
    background-color: #04c;
}

.layer-btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-success:hover,
.layer-btn-success:focus,
.layer-btn-success:active,
.layer-btn-success.active,
.layer-btn-success.disabled,
.layer-btn-success.disabled.active,
.layer-btn-success.disabled.focus, 
.layer-btn-success.disabled:active, 
.layer-btn-success.disabled:focus, 
.layer-btn-success.disabled:hover,
.layer-btn-success[disabled],
.layer-btn-success[disabled].active, 
.layer-btn-success[disabled].focus, 
.layer-btn-success[disabled]:active, 
.layer-btn-success[disabled]:focus, 
.layer-btn-success[disabled]:hover {
    color: #ffffff;
    background-color: #51a351;
}

.layer-btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-info:hover,
.layer-btn-info:focus,
.layer-btn-info:active,
.layer-btn-info.active,
.layer-btn-info.disabled,
.layer-btn-info.disabled.active,
.layer-btn-info.disabled.focus, 
.layer-btn-info.disabled:active, 
.layer-btn-info.disabled:focus, 
.layer-btn-info.disabled:hover,
.layer-btn-info[disabled],
.layer-btn-info[disabled].active, 
.layer-btn-info[disabled].focus, 
.layer-btn-info[disabled]:active, 
.layer-btn-info[disabled]:focus, 
.layer-btn-info[disabled]:hover {
    color: #ffffff;
    background-color: #2f96b4;
}

.layer-btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-warning:hover,
.layer-btn-warning:focus,
.layer-btn-warning:active,
.layer-btn-warning.active,
.layer-btn-warning.disabled,
.layer-btn-warning.disabled.active,
.layer-btn-warning.disabled.focus, 
.layer-btn-warning.disabled:active, 
.layer-btn-warning.disabled:focus, 
.layer-btn-warning.disabled:hover,
.layer-btn-warning[disabled],
.layer-btn-warning[disabled].active, 
.layer-btn-warning[disabled].focus, 
.layer-btn-warning[disabled]:active, 
.layer-btn-warning[disabled]:focus, 
.layer-btn-warning[disabled]:hover {
    color: #ffffff;
    background-color: #f89406;
}

.layer-btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-danger:hover,
.layer-btn-danger:focus,
.layer-btn-danger:active,
.layer-btn-danger.active,
.layer-btn-danger.disabled,
.layer-btn-danger.disabled.active,
.layer-btn-danger.disabled.focus, 
.layer-btn-danger.disabled:active, 
.layer-btn-danger.disabled:focus, 
.layer-btn-danger.disabled:hover,
.layer-btn-danger[disabled],
.layer-btn-danger[disabled].active, 
.layer-btn-danger[disabled].focus, 
.layer-btn-danger[disabled]:active, 
.layer-btn-danger[disabled]:focus, 
.layer-btn-danger[disabled]:hover {
    color: #ffffff;
    background-color: #bd362f;
}

.layer-btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.layer-btn-inverse:hover,
.layer-btn-inverse:focus,
.layer-btn-inverse:active,
.layer-btn-inverse.active,
.layer-btn-inverse.disabled,
.layer-btn-inverse.disabled.active,
.layer-btn-inverse.disabled.focus, 
.layer-btn-inverse.disabled:active, 
.layer-btn-inverse.disabled:focus, 
.layer-btn-inverse.disabled:hover,
.layer-btn-inverse[disabled],
.layer-btn-inverse[disabled].active, 
.layer-btn-inverse[disabled].focus, 
.layer-btn-inverse[disabled]:active, 
.layer-btn-inverse[disabled]:focus, 
.layer-btn-inverse[disabled]:hover {
    color: #ffffff;
    background-color: #222222;
}
/* footer 结束 */